---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.trangSitemap %}
  <url>
    <loc>{{ site.goc }}{{ p.url }}</loc>
    <lastmod>{{ p.data.ngay | default(p.date) | dateXML }}</lastmod>
    <priority>{{ "1.0" if p.url == "/" else "0.7" }}</priority>
  </url>
{%- endfor %}
</urlset>
